body {
  margin:0;
}

#container {
  display: flex;
}

button {
  display: block;
  width: 25vw;
  height: 50px;
  margin: 0 auto;
}
video {
  width: 60vw;
  height:auto;
}

span {
  width: 40vw;
  height: auto;
  background-color: gray;
}

.green {
  background-color: green;
}